/* general */
html,
body {
  width: 100%;
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  font-size: 62.5%;
  font-weight: normal;
  font-style: normal;
  transition: background .25s ease;
  background: #ffffff;
}

h1, h2, h3,
h4, h5, h6,
p, span, a {
  font-style: normal;
  font-weight: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
       -o-font-smoothing: antialiased;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover, a:focus {
	opacity: .7;
}


hr {
	width: 75px;
	margin-top: 5rem;
	margin-left: 0;
	border-top: none;
	border-right: none;
	border-bottom: 2px solid #fff;
	border-left: none;
}


/* intro */
.intro {
	position: relative;
	height: 100vh;
	width: 100%;
}

.intro-inner {
	display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.vert {
	position: absolute;
	height: 20vh;
	top: 60vh;
	left: 50%;
  margin-left: -1px;
	border-left: 2px solid #000;
}

.intro-inner span {
	font-size: 4.5rem;
	font-weight: 200;
  text-align: center;
}

@media screen and (min-width: 576px) {
	.intro-inner span {
		font-size: 6rem;
	}
}

@media screen and (min-width: 768px) {
	.intro-inner span {
		font-size: 7.5rem;
	}
}

@media screen and (min-width: 992px) {
	.intro-inner span {
		font-size: 9rem;
	}
}

@media screen and (max-height: 320px) {
	.intro-inner span {
		font-size: 3.5rem;
	}
}


/* cases */
.case {
  padding: 3rem 0;
}

#biotech, #manu {
	color: #fff;
}

#biotech .feat-img img {
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 2rem 2rem 0 #1d3766;
     -moz-box-shadow: 2rem 2rem 0 #1d3766;
	        box-shadow: 2rem 2rem 0 #1d3766;
}

#manu .feat-img img {
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 2rem 2rem 0 #c62030;
     -moz-box-shadow: 2rem 2rem 0 #c62030;
	        box-shadow: 2rem 2rem 0 #c62030;
}

.case-intro {
	margin: 5rem 0 2.5rem;
}

.case-intro h1 {
	font-size: 2.5rem;
	font-weight: 200;	
}

.case-desc p {
	font-size: 1.8rem;
	line-height: 3rem;
	font-weight: 200;	
}


/* services */
.service-list {
	display: block;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.service-list li {
  font-size: 1.8rem;
	line-height: 3rem;
  font-weight: 200;
  opacity: .7;
}

@media screen and (min-width: 768px) {
	.case {
		padding: 7rem 0;
	}
  .case-intro h1 {
  	font-size: 4rem;
  }
  .case-desc p, .service-list li {
  	font-size: 2rem;
  	line-height: 3.3rem;
  }
}


/* break */
#break img {
	width: 15rem;
}

@media screen and (min-width: 992px) {
	#break img {
		width: 25rem;
	}
}

/* contact */
.contact h3, .contact h4, .mail {
  font-size: 1.8rem;
	font-weight: 200;
}

.contact h3 {
	margin-bottom: .6rem;
}

.contact h4 {
	margin: 0 0 2rem;
}

@media screen and (min-width: 768px) {

}

.mail {
  border-bottom: 1px solid #fff;
}









