/* general */
html,
body {
  width: 100%;
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  font-size: 62.5%;
  font-weight: normal;
  font-style: normal;
  transition: background .25s ease;
  background: #ffffff;
}

section, div {
  outline: none;
  clear: both;
}

h1, h2, h3,
h4, h5, h6,
p, span, a {
  font-style: normal;
  font-weight: 200;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
       -o-font-smoothing: antialiased;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover, a:focus {
	opacity: .7;
}

hr {
	width: 75px;
	margin-top: 5rem;
	margin-left: 0;
	border-top: none;
	border-right: none;
	border-bottom: 2px solid #fff;
	border-left: none;
}

/* header */
.header {
	position: absolute;
  width: 100%;
  z-index: 1;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background: #ffffff;
}

.header li a {
  display: block;
  padding: 20px 0;
  font-size: 1.8rem;
  font-weight: 200;
  text-decoration: none;
  text-align: center;
  color: #1d3766;
}

.header .logo {
  display: block;
  float: left;
  padding: 1rem 0;
  text-decoration: none;
}

.header .logo:hover, .header .logo:focus {
	opacity: 1;
}

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 2.8rem 0;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  position: relative;
  display: block;
  height: .2rem;
  width: 3rem;
  background: #fff;
  transition: background .2s ease-out;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #1d3766;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 300px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 768px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 2rem 0 2rem 3rem;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

@media (min-width: 992px) {
  .header li a {
    font-size: 2rem;
  }
}

/* intro */
.intro {
	position: relative;
	height: 100vh;
	width: 100%;
}

.intro-inner {
	display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.vert {
	position: absolute;
	height: 20vh;
	top: 60vh;
	left: 50%;
  margin-left: -1px;
	border-left: 2px solid #1d3766;
}

.intro-inner span {
	font-size: 4.5rem;
	font-weight: 200;
  text-align: center;
  color: #c62030;
}

@media screen and (min-width: 576px) {
	.intro-inner span {
		font-size: 6rem;
	}
}

@media screen and (min-width: 768px) {
	.intro-inner span {
		font-size: 7.5rem;
	}
}

@media screen and (min-width: 992px) {
	.intro-inner span {
		font-size: 9rem;
	}
}

@media screen and (max-height: 320px) {
	.intro-inner span {
		font-size: 3.5rem;
	}
}

/* info */
.info {
  margin: 0 0 5rem;
}

.pillars {
  display: block;
  height: 30rem;
  width: 30rem;
  top: 20rem;
  margin-top: 10rem;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
  background: #c62030;
  color: #ffffff;
}

.pillars-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30rem;
}

.pillars h2 {
  font-size: 2.5rem;
  text-align: center;
}

.pillar {
  position: absolute;
  display: block;
  height: 15rem;
  width: 15rem;
  padding: .5rem;
  border-radius: 50%;
  background: #1d3766;
  color: #ffffff;
}

.pillar-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
}

#one {
  top: 0;
  left: 0;
}

#two {
  top: 0;
  right: 0;
}

#three {
  bottom: -10rem;
  left: 0;
}

#four {
  right: 0;
  bottom: -10rem;
}

.pillar h4 {
  font-size: 1.6rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .pillars {
    height: 50rem;
    width: 50rem;
    margin-top: 20rem;
  }
  .pillars-inner {
    height: 50rem;
  }
  .pillars h2 {
    font-size: 4rem;
  }
  .pillar {
    height: 30rem;
    width: 30rem;
    padding: 1.5rem;
  }
  .pillar-inner {
    height: 30rem;
  }
  .pillar h4 {
    font-size: 2rem;
  }
  #one {
    top: 0;
  }
  #two {
    top: 0;
    right: 0;
  }
  #three {
    bottom: -20rem;
  }
  #four {
    right: 0;
    bottom: -20rem;
  }
}

/* cases */
.case {
  padding: 0 0 5rem;
}

#biotech {
  margin-top: 30rem;
}

#biotech, #manu {
	color: #fff;
}

#biotech .feat-img img {
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 2rem 2rem 0 #1d3766;
     -moz-box-shadow: 2rem 2rem 0 #1d3766;
	        box-shadow: 2rem 2rem 0 #1d3766;
}

#manu .feat-img img {
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 2rem 2rem 0 #c62030;
     -moz-box-shadow: 2rem 2rem 0 #c62030;
	        box-shadow: 2rem 2rem 0 #c62030;
}

.case-intro {
	margin: 5rem 0 2.5rem;
}

.case-intro h2 {
	font-size: 2.5rem;
	font-weight: 200;	
}

.case-desc p {
	font-size: 1.8rem;
	line-height: 3rem;
	font-weight: 200;	
}

/* case services */
.case-service-list {
	display: block;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.case-service-list li {
  font-size: 1.8rem;
	line-height: 3rem;
  font-weight: 200 !important;
  opacity: .7;
}

@media screen and (min-width: 768px) {
	.case {
		padding: 0 0 7rem;
	}
  .case-intro h2 {
  	font-size: 4rem;
  }
  .case-desc p, .case-service-list li {
  	font-size: 2rem;
  	line-height: 3.3rem;
  }
}


/* break */
#break img {
	width: 15rem;
}

@media screen and (min-width: 992px) {
	#break img {
		width: 25rem;
	}
}

/* contact */
.contact {
  display: flex;
  margin-top: 3rem;
}

.contact-img {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.contact-img#lisa {
  background-image: url(../images/lisa_monette.jpg);
}

.contact-img#juan {
  background-image: url(../images/juan_torres.jpg);
}

.contact-img#cara {
  background-image: url(../images/cara_reap.jpg);
}

.contact-img#haley {
  background-image: url(../images/haley_kaplowitz.jpg);
}

.contact-info {
  width: calc(100% - 5rem - 1rem);
}

.contact-info h3, .contact-info h4, .mail {
  font-size: 1.8rem;
	font-weight: 200;
}

.contact-info h3 {
  margin-top: 0;
	margin-bottom: .6rem;
}

.contact-info h4 {
	margin: 0 0 2rem;
}

@media screen and (min-width: 768px) {
  .contact-info h3, .contact-info h4, .mail {
	  font-size: 2rem;
	}
}

.mail, .email {
  border-bottom: 1px solid #fff;
}

/* services */
#services {
  margin: 5rem 0;
  background: url('../images/services-bg.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.service {
  padding-top: 2rem;
  color: #1d3766;
}

.service-intro h2 {
  font-size: 2.5rem;
  font-weight: 200; 
  color: #1d3766;
}

.service-intro hr {
  border-bottom: 2px solid #1d3766;;
}

.service-title {
  padding-bottom: 2rem;
  font-size: 1.8rem;
  font-weight: 700;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.service-desc {
  padding-bottom: 1rem;
  font-family: sans-serif;
  font-size: 1.8rem;
  font-weight: 200;
}

@media screen and (min-width: 768px) {
  .service-intro h2 {
    font-size: 4rem;
  }
  .service-title {
    font-size: 2rem;
  }
  .service-desc {
    font-size: 2rem;
    line-height: 3.3rem;
  }
}

#pathway {
  text-align: center;
}

#pathway img {
  max-width: 20rem;
}

.button, .button:visited {
  display: block;
  max-width: 17.5rem;
  margin: 0 auto;
  padding: 1.5rem 2.5rem;
  border-radius: .6rem;
  background: #eeeeee;
  border: 1px solid #1d3766;
  font-size: 1.8rem;
  font-weight: 200;
  text-align: center;
  color: #1d3766;
  -webkit-transition: all .3s ease-in-out;
}

.button:hover {
  background: #1d3766;
  color: #ffffff;
  opacity: 1;
}

.mosaic-arrow {
  animation: shake 2s infinite;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* team */
#team {
  margin: 10rem 0 4.5rem;
}

.profile {
  z-index: 0;
  margin-bottom: 7.5rem;
  background: #1d3766;
}

.profile:after {
  position: absolute;
  background: inherit;
  content: '';
  display: block;
  height: 30px;
  margin-top: -30px;
  right:16px;
  left: 15px;
  -webkit-transform: skewY(-2.5deg);
     -moz-transform: skewY(-2.5deg);
          transform: skewY(-2.5deg);
  transform-origin: 100%; 
}

.bio {
  z-index: 1;
  margin-top: -1rem;
  padding: 3.5rem 1.5rem;
  font-size: 1.6rem;
  background: #1d3766;
  color: #ffffff;
}

.name {
  display: block;
  padding-bottom: 1rem;
  font-family: 'Helvetica', sans-serif;
  font-weight: 700;
}

.title {
  display: block;
  padding-top: 1rem;
}

.email {
  display: inline-block;
  padding-top: 1rem;
}

.bio a {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 768px) {
  .bio {
    font-size: 1.8rem;
  }
}

/* footer copyright */
footer {
  padding: 3.5rem 0 5rem;
  border-top: 1px solid rgba(0,0,0,.15);
}

footer span {
  display: block;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

footer span:nth-of-type(1) {
  margin: 4rem 0 3rem;
  opacity: .5;
}

.footer-link, .footer-link:visited {
  display: inline;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: #1d3766;
}

#copyright {
  padding: 2.5rem 0;
  background: #1d3766;
}

.copyright-text {
  display: block;
  font-size: 1.3rem;
  color: #fff;
  opacity: .6;
}

/* privacy */
.privacy, .terms {
  padding: 7.5rem 0;
  font-size: 1.8rem;
}

.privacy h1, .terms h1 {
  font-size: 2.5rem;
}

@media screen and (min-width: 768px) {
  .privacy h1, .terms h1 {
    font-size: 4rem;
  }
}

